@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; 
}


body.result-page {
   height: 100%;
    overflow-x: hidden;
    background-color: #D5E0CF;
}

.results-title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: Inconsolata, 'Arial';
  font-weight: 600;
}


.error-message-results {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 2rem;
  font-family: Manrope, 'Arial';
  font-weight: bold;
}

.loading-result-message {
   display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 2rem;
  font-family: Manrope, 'Arial';
  font-weight: bold;
}