@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body.Allpoll-page{
    height: 100%;
    overflow-x: hidden;
    background-color: #D5E0CF;
}

.container {
    height: 100%;
    overflow-y: auto;
    margin: 4.813rem 6.563rem 0rem 6.563rem;  /* top | right | bottom | left */
}


.allpolls-title {
    font-family: Inconsolata, 'Arial';
    font-size: 3rem;
    font-weight: 500;
    height: 60%;
    margin-bottom: 0.813rem;
}

.all-polls-search {
    width: 214px;
    padding: 0.5rem auto 0.5rem 0.75rem; /* top | right | bottom | left */
}


/* .home-nav {
     display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.home-nav a {
    font-size: 1rem;
    font-family: Inconsolata, 'Arial';
    cursor: pointer;
    text-decoration: none;
    color: black;
} */
