@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body.Allpoll-page{
    height: 100%;
    overflow-x: hidden;
    background-color: #D5E0CF;
}

.container {
    height: 100%;
    overflow-y: auto;
    margin: 4.813rem 6.563rem 0rem 6.563rem;  /* top | right | bottom | left */
}


.allpolls-title {
    font-family: Inconsolata, 'Arial';
    font-size: 3rem;
    font-weight: 500;
    height: 60%;
    margin-bottom: 0.813rem;
}

.all-polls-search-bar {
    width: 369px;
    padding: 0.7rem; /* top | right | bottom | left */
    font-size: 1rem;
    font-family: Literata, 'Arial';
    border: 2px solid #3E5622;
    border-radius: 4px;
}

.all-polls-search-bar::placeholder {
    color: black;
    font-size: 1rem
}

.all-polls-search-bar:focus {
    outline: none;
}

.Allpolls-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 31px;
    height: 100%;
    overflow-y: auto;
     margin: 2.7rem 6.563rem 0rem 6.563rem;
}

.box-1 {
    background-color: #709255;
    border: 2px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 130px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.poll-link {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-wrap: pretty;
    font-size: 1.125rem;
    font-family: Literata, 'Arial';
    color: #FFFFFF;
}

.box-1:hover {
   background-color: #FFFFFF;
   color: #709255;
   border-color: #709255;
}


.no-poll-message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: Literata, 'Arial';
    margin-top: 1.5rem;
}

/* .home-nav {
     display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.home-nav a {
    font-size: 1rem;
    font-family: Inconsolata, 'Arial';
    cursor: pointer;
    text-decoration: none;
    color: black;
} */
