body.login-page {
    overflow: hidden;
    height: 100%;
    overflow-x: hidden;
    background-color: #D5E0CF;
    background-image: url("../img/Rectangle 73.png");
    background-repeat: no-repeat;
    background-size: cover;
}